<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!-- Write events to a file with the date in the filename. -->
 
      <target xsi:type="File" name="TracedFile" fileName="${basedir}/Logs/${shortdate}.log"
             layout="${longdate} ${uppercase:${level}} ${message} ${onexception:EXCEPTION OCCURRED\:
            ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
      concurrentWrites="true"/>
 

    <target name="database" xsi:type="Database" keepConnection="true" useTransactions="true" dbProvider="System.Data.SqlClient"
      connectionString="data source=HCLT-PC2535;initial catalog=CloudMigrationTracker;integrated security=True;persist security info=True;"
      commandText="INSERT INTO [CloudMigrationTracker].[dbo].[Log]
           ([ThreadId]
           ,[EventDateTime]
           ,[EventLevel]
           ,[UserName]
           ,[MachineName]
           ,[ErrorMessage]
           ,[ErrorSource]
          ,[StackTrace]
           ,[Controller]
           ,[Action]
           ,[InnerErrorMessage])
           VALUES
           (@ThreadId,
           @EventDateTime, 
           @EventLevel, 
           @UserName, 
           @MachineName, 
          @ErrorMessage, 
           @ErrorSource, 
          @StackTrace, 
           @Controller, 
           @Action, 
			@InnerErrorMessage);">

      <!-- parameters for the Commond -->
      <parameter name="@ThreadId" layout="${threadid}" />
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@UserName" layout="" />
      <!--${aspnet-user-identity}-->
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@ErrorMessage" layout="${message}" />
      <parameter name="@ErrorSource" layout="${event-context:item=error-source}" />
      <parameter name="@StackTrace" layout="${event-context:item=error-stacktrace}" />
      <parameter name="@Controller" layout="${event-context:item=error-controller}" />
      <parameter name="@Action" layout="${event-context:item=error-action}" />
      <parameter name="@InnerErrorMessage" layout="${event-context:item=inner-error-message}" />
    </target>

    <!--<target xsi:type="Mail"
          name="logMail"
          header="Layout"
          footer="Layout"
          layout="${message}${newline}"
          html="true"
          addNewLines="true"
          replaceNewlineWithBrTagInHtml="true"
          encoding="UTF-8"
          subject="Error In Production"
          to="rishabh.tyagi@hotmail.com"
          bcc="rishabh.tyagi@hotmail.com"
          cc="rishabh.tyagi@hotmail.com"
          from="tyagi.rishabh.rishabh@gmail.com"
          body="${message}${newline}"
          smtpUserName="tyagi.rishabh.rishabh@gmail.com"
          enableSsl="false"
          smtpPassword="o9o51136$"
          smtpAuthentication="Basic"
          smtpServer="smtp.gmail.com."
          smtpPort="587"
          timeout="1000000"
 />-->
    
      <!--<target name="logMail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="tyagi.rishabh.rishabh@gmail.com"
            smtpPassword="o9o51136$"
            enableSsl="false"
            from="tyagi.rishabh.rishabh@gmail.com"
            to="rishabh.tyagi@hotmail.com"
            cc="alice@example.com;bob@example.com;charlie@example.com"
          />-->
    
    <!--useSystemNetMailSettings="false"-->
    <!--secureSocketOption="None|Auto|SslOnConnect|StartTls|StartTlsWhenAvailable"-->
  </targets>

  <extensions>
    <add assembly="NLog.MailKit"/>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
 


  <rules>
    <!-- add your logging rules here -->

    <!-- Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"   -->
    <logger name="*" minlevel="Trace" writeTo="TracedFile,database" />
    <!--<logger name="*" minlevel="Debug" writeTo="exception" />-->


  </rules>
</nlog>
